body{
    margin: 0 auto;
    background-color: #034E86;
}


.sobren-titulo{
    margin: 0 auto;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.container-sobren{
    margin: 130px 0 0 0;
}

.sobren-p{
    width: 250px;
    height: 200px;
    position: relative;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    color: beige;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1{
    height: 110px;
    margin: -100px 0 0 1%;
}
.s2{
    height: 140px;
    margin: -10px 0 0 39%;
}

.s3{
    z-index: 1;
    height: 150px;
    margin: -10px 0 0 1%;
}

.img-sobren{
    z-index: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    animation: move-up 2s ease-in infinite alternate-reverse;
    margin-left: 40%;
    margin-top: -20px;
}

@keyframes move-up{
    to{
        transform: translateY(-10px);
    }
}

@keyframes move-down{
    to{
        transform: translateY(10px);
    }
}

.s4{
    height: 160px;
    margin: 0 0 0 0;
}

.s5{
    height: 140px;
    margin: -5px 0 0 39%;
}

.s6{
    height: 140px;
    margin: -5px 0 0 1%;
    z-index: 1;
}

.img-sobren-2{
    z-index: 0;
}

.s7{
    height: 120px;
    width: 170px;
    margin: -190px 0 0 -9%;
}
.s8{
    height: 120px;
    width: 170px;
    margin: 10px 0 0 -9%;
}
.s9{
    height: 140px;
    width: 170px;
    margin: 10px 0 0 -9%;
}

.s10{
    height: 130px;
    width: 100%;
    margin: 0 0 0 0;
}