body{
    margin: 0 auto;
    background-color: #034E86;
}

.cloudpos-titulo,
.cloudpos-subtitulo,
.cloudpos-subtitulo-2,
.cloudpos-semititulo-3,
.cloudpos-semititulo-4{
    margin: 0 auto;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.img-cloudpos{
    z-index: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    animation: move-up 2s ease-in infinite alternate-reverse;
    margin-left: 40%;
    margin-top: 10px;
}

@keyframes move-up{
    to{
        transform: translateY(-10px);
    }
}

@keyframes move-down{
    to{
        transform: translateY(10px);
    }
}

.cloudpos-p{
    width: 250px;
    height: 200px;
    position: relative;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    color: beige;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4-1{
    height: 380px;
    margin: 10px 0 0 5%;
}
.s4-2{
    height: 180px;
    margin: 10px 0 0 35%;
}
.s4-3{
    height: 400px;
    margin: 10px 0 0 5%;
}
.s4-4{
    height: 240px;
    margin: 10px 0 0 35%;
}

.img-cloudpos-1{
    margin-top: 10px;
}

.s4-5{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 10px 0 0 5%;
}
.s4-6{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 10px 0 0 25%;
}
.s4-7{
    height: 170px;
    margin: 10px 0 0 5%;
}

.img-cloudpos-2{
    margin-top: 10px;
}

.cloudpos-semititulo-1{
    margin: 0 auto;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.s4-8{
    height: 240px;
    margin: 10px 0 0 5%;
}
.s4-9{
    height: 160px;
    margin:10px 0 0 35%;
}
.s4-10{
    height: 160px;
    margin: 10px 0 0 5%;
}
.s4-11{
    height: 120px;
    margin: 10px 0 0 5%;
}
.s4-12{
    height: 280px;
    margin: 10px 0 0 35%;
}
.s4-13{
    height: 170px;
    margin: 10px 0 0 5%;
}
.s4-14{
    height: 160px;
    margin: 10px 0 0 35%;
}
.s4-15{
    height: 170px;
    margin: 10px 0 0 5%;
}